* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-image: linear-gradient(90deg, #1d1d1d, #332828);
}

.nav-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #25252562;
    backdrop-filter: blur(10px);
}

.nav-header ul {
    list-style: none;
    display: flex;
}

.nav-header ul li {
    margin-left: 20px;
}

.nav-header ul li a {
    text-decoration: none;
    color: #5b3d3d;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}

.nav-header ul li a::after {
    content: '';
    width: 0;
    height: 2px;
    background: #ff9595;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: width 0.3s ease;
}

.nav-header ul li a:hover::after {
    width: 100%;
}

.signup-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: auto;
    margin-top: 100px; /* Adjust as needed */
}

.signup-container h2 {
    text-align: center;
}

.signup-container form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.signup-container form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signup-container form button:hover {
    background-color: #0056b3;
}

.signup-container p {
    text-align: center;
    margin-top: 10px;
}

.signup-container p a {
    color: #007bff;
    text-decoration: none;
}

.signup-container p a:hover {
    text-decoration: underline;
}

.error-message {
    color: red;
    font-size: 14px;
}
