*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-image: linear-gradient(90deg, #ffffff, #ffffff);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo {
    margin: 0 35px;
    width: 70px;
    cursor: pointer;
}

.nav-header {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 30px 0;
    background-color: #ffffff;
    backdrop-filter: blur(10px);

    position: absolute;
    top: 0;
    left: 0;

}

.nav-header ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    width: 60px; 
    transform: translateX(-50%);
}

.nav-header ul li a{
    text-decoration: none;
    color: #0298ba9d;
    text-transform: uppercase;
    position: relative;
    z-index: 1; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 140%; 
    transition: background-color 0.3s ease; 
}

.nav-header ul li a::after{
    content: '';
    width: 150%;
    height: 240%;
    background: #D9D9D9;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    bottom: 50%;
    border-radius: 5px;
    z-index: -1; 
    transition: 0.3s ease; 
}

.nav-header ul li a:hover{
    color: #D9D9D9;
}

.nav-header ul li a:hover::after{
    background: #868585
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.login-container h2 {
    text-align: center;
}

.login-container form {
    margin-top: 20px;
}

.login-container form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-container form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-container form button:hover {
    background-color: #0056b3;
}

