.popup {
    display: none;
    position: fixed; /*Stay in place*/
    z-index: 1000; 
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%); 
    width: 80%; 
    max-width: 600px; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4); 
}

.popup-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center; 
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}